.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite;
}
.animate-spin-slow {
  animation: spin 4s linear infinite;
}
.animate-spin-slower {
  animation: spin 6s linear infinite;
}
